<div class="mt-4">
    <h3>Thêm sản phẩm</h3>
    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="name" class="form-label">Thêm tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
         <div class="mb-3">
            <label for="des" class="form-label">Thêm nội dung</label>
            <input type="text" class="form-control" id="des" name="des">
        </div>
         <div class="mb-3">
            <label for="image" class="form-label">Thêm hình</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
         <div class="mb-3">
            <label for="list" class="form-label">thêm danh mục</label>
            <input type="text" class="form-control" id="list" name="list">
        </div>
        <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
</div>