{{!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up - Mu.sic</title>
        <link rel="stylesheet" href="/css/style.css" />
        <script defer src="/js/signup.js"></script>
    </head>
    <body class="submit-page">
        <header class="submit-header">
            <div class="logo">
                <img src="/images/Logo.png" alt="logo" />
            </div>
        </header>
        <main>
            <div class="submit-wrapper">
                <p class="submit-title">SIGN UP</p>
                <form id="formvalidate">
                    <div class="form-group">
                        <label for="email" class="input-label">Email</label><br />
                        <input
                            type="email"
                            id="email"
                            name="email"
                            class="input-field"
                            placeholder="Enter your email.."
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="password" class="input-label">Password</label><br />
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="input-field"
                            placeholder="Enter your password.."
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="confirm-password" class="input-label">Confirm Password</label
                        ><br />
                        <input
                            type="password"
                            id="confirm-password"
                            name="repeatPassword"
                            class="input-field"
                            placeholder="Enter your confirm password.."
                            required
                        />
                    </div>
                    <p class="msg"></p>
                    <button type="button" class="submit-btn">SIGN UP</button>
                </form>
                <a href="/login" id="signin-link" class="clickable-text">Login Now</a>
            </div>
        </main>
    </body>
</html>

<script>
    const $ = document.querySelector.bind(document);
const $$ = document.querySelectorAll.bind(document);

$("button[type='button']").addEventListener("click", async function (e) {
    const form = document.forms[0];
    const jsonData = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({
            email: form.email.value,
            repeatPassword: form.repeatPassword.value,
            password: form.password.value,
        }),
        headers: {
            "Content-Type": "application/json",
        },
    });
    const response = await jsonData.json();
    console.log(response);

    if (response.status === "success") {
        sessionStorage.setItem("token", JSON.stringify(response.token));
        $(".msg").innerText = response.msg;
        $(".msg").style.color = "white";
        setTimeout(() => {
            window.location.href = "/login";
        }, 3000);
    }else{
        $(".msg").innerText = response.msg;
        $(".msg").style.color = "white";
    }
});
</script> --}}